body,
html,
#root,
.App {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.3;
}

code,
pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

pre {
  white-space: pre-wrap;
  color: #161616;
  font-size: 0.85em;
}
